<a href="https://colab.research.google.com/github/HagsUM/BTE-320/blob/main/After_Break_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Defining Functions

In [ ]:
def fill(l):
  for i in range(10):
    l.append(i)
    if i%2 == 0:
      l.pop()
  print(l)

**Function Syntax:**

def function_name():
  
  Statement(s)

In [ ]:
aList = []
fill(aList)

[1, 3, 5, 7, 9]

In [ ]:
def greeting(n):
  return f'Hello {n}!'

name = input('Enter Name: ')
message = greeting(name)
print(message)

Enter Name: Jayden
Hello Jayden!

# March 20 Notes

In [4]:
def add_num(a,b):
  c = a + b
  return c, c ** 2

x = 5
y = 6
c = add_num(x,y)
print(c[1])

121

In [5]:
def add_num(a,b):
  c = a + b
  return c, c ** 2

x = 5
y = 6
c, c_sq = add_num(x,y)
print(c_sq)

121

In [ ]:
def add_num(a,b):
  c = a + b
  return c, c ** 2

x = 5
y = 6
c = add_num(a=x,b=y)
print(c)

Pasing by keyword^^^ (No order is necessary)

In [ ]:
def add_num(a,b):
  c = a + b
  return c, c ** 2

x = 5
y = 6
c = add_num(x, b=y)
print(c)

Not frequently seen, avoid it for now. Its awkward and you can get weird errors.

You cannot put an "=" term before a different variable in a function. it returns an error

Key word **return** can:

  Return a variable, object, or expression

Functions in python that return more than one value return them as a tuple***