<a href="https://colab.research.google.com/github/HagsUM/BTE-320/blob/main/MASTER_FOLDER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feb 26

lists:
- Function len returns the amount of objects within the brackets
- You can slice lists just like strings
- Indexing lists works the exact same way as it does with strings
- You can concatenate the same way you can with strings
- You can multiply a list by an integer

In [ ]:
L = [1, 'two', 3.14, print, [5, 7, 9]]
len(L)

5

In [ ]:
L[:3]
L[3:]
L[2]
L[-1]
L + ['three', 9.99, 0]
3 * L

[1,
 'two',
 3.14,
 <function print>,
 [5, 7, 9],
 1,
 'two',
 3.14,
 <function print>,
 [5, 7, 9],
 1,
 'two',
 3.14,
 <function print>,
 [5, 7, 9]]

below are new list operations

In [ ]:
L[3] = 'New Value'
print(L)

[1, 'two', 3.14, 'New Value', [5, 7, 9]]

In [ ]:
L = [1, 'two', 3.14, print, [5, 7, 9]]

In [ ]:
for index in range(len(L)):
  print(L[index])

1
two
3.14
New Value
[5, 7, 9]

In [ ]:
for item in L:
  print(item)

1
two
3.14
New Value
[5, 7, 9]

In [ ]:
L_outer = [[1, 2, 3], [4, 5, 6]]
L_outer[1][0] = 7
L_outer

[[1, 2, 3], [7, 5, 6]]

# March 1

In [ ]:
L = [1, 2, 4, 0, 3]
L.sort(reverse=True)
L

[0, 1, 2, 3, 4]

Sort sorts the list

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)

l1

[3, 4]

Tuples:
- Structure is shown below
- cannot be modified

In [ ]:
t = (1, 'two', 3.0)
len(t)
t[1]
t[:2]
t + t[:2]

(1, 'two', 3.0, 1, 'two')

Dictionaries:
- Mutable (you can modify them)
- dictionaries dont store an order
- you access values through keys that are associated with each value
- they use {}
- using x[] can add to the dictionary, or update the value
- keys are unique in dictionaries
- keys are also immutable
- keys have to be numbers, booleans, strings, and tuples

In [ ]:
grades = {
    'Alice' : 91,
    'Bob' : 88,
    'Tracy' : 93,
    'Erik' : 90
}

grades['Alice']
grades['Megan'] = 60
grades
grades['Tracy'] = 96
grades
del grades['Alice']
grades

# March 4

In [ ]:
del dict_name[key]
or
del(dict_name[key])

above are ways to remove values from a dictionary

obj.methodname()

how to use methods^^^ (syntax)

3 methods to use on dictionaries:

1. .keys()

 -  returns a list of all the dictionary keys
2. .values()
 - returns a list of all the values

3. .items()
 - returns both list of keys and values at the same time

In [ ]:
for var, var in sequence

how to use multiple variables at the same time^^

In [2]:
grades = {
    'Alice' : 91,
    'Bob' : 88,
    'Tracy' : 93,
    'Erik' : 90
}
for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [3]:
for value in grades.values():
  print(value)

91
88
93
90

In [4]:
for key, value in grades.items():
  print(f'Key: {key}, Value: {value}')

Key: Alice, Value: 91
Key: Bob, Value: 88
Key: Tracy, Value: 93
Key: Erik, Value: 90

In [5]:
months = {1: 'January', 2: 'February', 3: 'March'}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [65]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

for num in numbers:
  months[num] = names[num-1]



print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}