<a href="https://colab.research.google.com/github/HagsUM/BTE-320/blob/main/MASTER_FOLDER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feb 26

lists:
- Function len returns the amount of objects within the brackets
- You can slice lists just like strings
- Indexing lists works the exact same way as it does with strings
- You can concatenate the same way you can with strings
- You can multiply a list by an integer

In [ ]:
L = [1, 'two', 3.14, print, [5, 7, 9]]
len(L)

5

In [ ]:
L[:3]
L[3:]
L[2]
L[-1]
L + ['three', 9.99, 0]
3 * L

[1,
 'two',
 3.14,
 <function print>,
 [5, 7, 9],
 1,
 'two',
 3.14,
 <function print>,
 [5, 7, 9],
 1,
 'two',
 3.14,
 <function print>,
 [5, 7, 9]]

below are new list operations

In [ ]:
L[3] = 'New Value'
print(L)

[1, 'two', 3.14, 'New Value', [5, 7, 9]]

In [ ]:
L = [1, 'two', 3.14, print, [5, 7, 9]]

In [ ]:
for index in range(len(L)):
  print(L[index])

1
two
3.14
New Value
[5, 7, 9]

In [ ]:
for item in L:
  print(item)

1
two
3.14
New Value
[5, 7, 9]

In [ ]:
L_outer = [[1, 2, 3], [4, 5, 6]]
L_outer[1][0] = 7
L_outer

[[1, 2, 3], [7, 5, 6]]

# March 1

In [5]:
L = [1, 2, 4, 0, 3]
L.sort(reverse=True)
L

[0, 1, 2, 3, 4]

Sort sorts the list

In [10]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)

l1

[3, 4]

Tuples:
- Structure is shown below
- cannot be modified

In [15]:
t = (1, 'two', 3.0)
len(t)
t[1]
t[:2]
t + t[:2]

(1, 'two', 3.0, 1, 'two')

Dictionaries:
- Mutable (you can modify them)
- dictionaries dont store an order
- you access values through keys that are associated with each value
- they use {}
- using x[] can add to the dictionary, or update the value
- keys are unique in dictionaries
- keys are also immutable
- keys have to be numbers, booleans, strings, and tuples

In [ ]:
grades = {
    'Alice' : 91,
    'Bob' : 88,
    'Tracy' : 93,
    'Erik' : 90
}

grades['Alice']
grades['Megan'] = 60
grades
grades['Tracy'] = 96
grades
del grades['Alice']
grades